.column-3
{
    widows: 75%;
    float: left;
}

.column-2{
    width: 50%;
    float: left;
}

.column-1 {
    width: 25%;
    float: left;
}

button.calc-button {
    width: 100%;
    height: 2.5em;
    border: 2px solid rgb(151, 132, 101);
    border-radius: 72px;
    box-sizing: border-box;
    margin: 4px;
    background: rgb(253, 240, 219);
    font-weight: bolder;
    font-size: 25px;
}

input.result{
    margin-right: 5px;
    text-align: center;
    height: 5em;
    width: 100%;
    font-size: 25px;
    font-weight: bolder;

}

.floating-last{
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: none;
    background-color: gray;
    opacity: 70%;
    position: relative;
    z-index: -1;
}